// color
$blue-dark: #252b42;
$black: #000000;
$orange: #fa4a0c;
$white: #ffffff;
$white-2: #f7f7f7;
$border-color: #e4e4e4;

// text styles
$fs-sm: 16px;
$fs-exsm: 12px;
$fs-h1: 58px;
$fs-h2: 44px;
$fs-h3: 40px;
$fs-h4: 24px;
$container-space: 0 15px;

$transition-effect: all 0.3s ease;