:root {
  --blue-dark: #252b42;
  --orange: #fa4a0c;
  --white: #ffffff;
  --fs-sm: 16px;
  --container-space: 0 15px;
  --transition-effect: all 0.3s ease;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: var(--container-space);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.nav-item {
  position: relative;
}

.nav-link,
.nav-opened {
  font-size: var(--fs-sm);
  color: var(--blue-dark);
  font-weight: 600;
  line-height: 28px;
  margin-right: 50px;
  transition: var(--transition-effect);
  cursor: pointer;
}

.nav-link:hover,
.nav-item:hover .nav-opened {
  color: var(--orange);
}

.nav-arrow {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-bottom: 2px solid var(--blue-dark);
  border-right: 2px solid var(--blue-dark);
  transform: rotate(45deg);
  margin-left: 6px;
  margin-bottom: 4px;
  transform-origin: center;
  transition: var(--transition-effect);
}

.nav-item:hover .nav-arrow {
  transform: rotate(225deg);
  border-color: var(--orange);
  margin-bottom: 0;
}

.nav-item:hover .nav-opened-list {
  display: block;
}

.nav-opened-list {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 7px;
  min-width: 214px;
  z-index: 100;
}

.nav-opened-item {
  border-bottom: 1px solid var(--orange);
}

.nav-opened-item:last-child {
  border-bottom: none;
}

.nav-opened-link {
  display: block;
  font-size: var(--fs-sm);
  line-height: 28px;
  padding: 10px 18px;
  color: var(--blue-dark);
  transition: var(--transition-effect);
}

.nav-opened-link:hover {
  background-color: var(--orange);
  color: var(--white);
}
